<h1>Produtos</h1>

<div class="products">
    {{#each products}}
    
   
    <div class="product">
         <img src="{{ this.image }}" alt="{{ this.name }}" />
        <h3>{{ this.name }}</h3>
        <p>{{ this.description }}</p>
        <p>{{ this.price }}</p>
        <a href="/product/{{ this._id }}" > Produto </a>
        </br>
        <a href="/product/edit/{{ this._id }}"> Editar </a>
        </div>

 
    {{/each}}

       </div>
